**/*.aux
**/*.cb
**/*.cb2
**/*.fls
**/*.fmt
**/*.fot
**/*.lb
**/*.listing
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc
**/*_minted*
**/*cache*
**/.venv*
**/debug
**/output.csv
**/phrases.csv
Pipfile*
