[submodule "crcproject"]
	path = crcproject
	url = git@github.com:hsnucrc46/crcproject.git
[submodule "sort"]
	path = english/sort
	url = git@github.com:olivertzeng/sort.git
[submodule "english/sort"]
	path = english/sort
	url = git@github.com:olivertzeng/sort.git
