**/*.aux
**/*.cb
**/*.cb2
**/*.fls
**/*.fmt
**/*.fot
**/*.lb
**/*.listing
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc
**/*_minted*
**/*cache*
**/.venv*
**/blocked.csv
**/cleaned.csv
**/grouped.csv
**/labeled.csv
**/output.csv
**/phrases.csv
**/sorted.csv
Pipfile*
